.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.postContainer {
  padding: 1rem;
  margin-top: 10px;
  border-radius: 8px;
  position: relative;
  width: 300px;
  background: #BEBEBE;
}

.postContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: gray;
  z-index: -1;
}
.postTitle {
  text-align: left;
  border-radius: 10px 10px 0 0;
  margin: 0 0 -5px 0;
  font-size: 20px;
  font-weight: bold;
}

.postText {
  color: gray;
  font-size: 10px;
  background: white;
  margin: 0;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
}